.body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#00000020, #00000020);
}
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    color: #FFFFFF;

}
.icon-color{
    color: #FFB805;
}
/* navigation heading style */
.header{
    background-image: url(/styles/Assets/Hero-bg.png);
}
.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}
.singup-btn{
    font-size: 19px;
    font-weight: bold;
    padding: 10px 26px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
}
.Logo{
    font-size: 34px;
    font-weight: black;
}
/* navigation title style */
.nav-title{
    text-align: center;
    margin: 158px 267px 200px 267px;
}

.nav-description{
    font-size: 65px;
    font-weight: bold;
}
/* action section style */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 160px 116px 140px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-content{
    width: 517px;
    height: 203px;
    
}
.action-pera{
    font-size: 24px;
    color: #25243250;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* Productive User Section Style */
.productive-user{
    margin: 0px 160px 140px 140px;
    background-color: #4E47FF10;
    padding: 50px 80px;
    border-radius: 24px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.user-data{
    display: flex;
    justify-content: space-between;
}
.usersub-title{
    font-size: 80px;
}
.usersub-pera{
    font-size: 20px;
    color: #000000;
}

/* User Feedback Section */
.user-feedback-section-card{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 140px 150px;

}
.feed-title{
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    color: #252432;
}
.feed-card{
    width: 366.67px;
    height: 243px;
    margin-right: 18px;
    background-color: #FFFFFF;
    padding: 24px 24px;
    border-radius: 14px;
}
.card-title{
    font-size: 24px;
    color: #1E1E1E;
}
.feed-pera{
    font-size: 16px;
    color: #1E1E1E;
}
.reviw{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 14px;
}
.reviw-title{
    
    font-size: 16px;
    color: #757575;
}
.reviw-date{
    margin-top: -20px;
    color: #B3B3B3;
}
.reviw-img{
    border-radius: 50%;
}

/* Ready to focus better Section */
.focus{
    text-align: center;
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.focus-description{
    padding-top: -20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #00000050;
}
.focus-img{
    width: 840px;
    margin-top: 20px;
    height: 364.77px;
    border-radius: 48px;
}